CONFIG_LV_USE_USER_DATA=y
CONFIG_LV_COLOR_16_SWAP=y
CONFIG_LV_COLOR_DEPTH_16=y
CONFIG_LV_CONF_SKIP=y
CONFIG_HMI_LCD_CONTROLLER_ST7796=y
CONFIG_HMI_LCD_TOUCH_ENABLED=y
CONFIG_HMI_LCD_TOUCH_CONTROLLER_FT5X06=y

#CONFIG_COMPILER_OPTIMIZATION_PERF=y
#CONFIG_LV_ATTRIBUTE_FAST_MEM_USE_IRAM=y
#CONFIG_LV_MEMCPY_MEMSET_STD=y
#CONFIG_LV_DISP_DEF_REFR_PERIOD=10